.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $header-background-color;

  nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
  }

  &__toggle {
    display: none;
    background-color: $header-background-color;
    padding: 16px 32px;
    z-index: 1;

    @include to-tablet {
      display: block;
    }
  }

  @include to-tablet {
    justify-content: flex-start;
  }

  input {
    position: absolute;
    width: 20px;
    height: 20px;
    opacity: 0;
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 16px 32px;

    @include to-tablet {
      width: 100%;
      flex-direction: column;
      margin-top: -250px;
      transition: 1.5s;

      &--open {
        margin-top: 0;
      }
    }
  }

  &__menu-item {
    display: flex;
    align-items: center;
    padding-right: 20px;
    padding-left: 20px;
    height: 30px;
    color: $secondary-text-color;

    @include to-tablet {
      font-size: 20px;
      padding: 20px;
      justify-content: center;
    }
  }
}

.active {
  color: $primary-blue;
}
