/* portfolyo page css */

.portfolyo {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__read-more {
    margin-left: auto;
    font-size: 14px;
  }
}
